@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poiret+One&display=swap');
 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    transition: var(--trans);
    line-height: 2rem;
    background: var(--bg);
}
h2,a{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poiret One', cursive;
    letter-spacing: 3px;
    font-weight: 800;
    color: var(--link);
}
:root{
    /* font variable */
    /*  */
    --trans:all 0.3s ease;
    /* light bg color variables */
    --primary: #dd2d50;
    --secondary:#161e29;
    --text:#161e29;
    --link:#dd2d50;
    --bg:#fff;
    --boxBg:  rgba(255, 255, 255, 0.16);
    --boxShdw:0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%), 0px 11px 15px -7px rgb(0 0 0 / 20%);
    --btnBg:#dd2d50;
    --btnText:#fff;

}
.dark-theme{
     /* dark bg color variables */
     --primary:#0e0e0d;
     --secondary:#fff;
     --text:#fff;
     --link:#dd2d50;
     --bg:#000;
     --btnBg:#fff;
     --btnText:#dd2d50;
}
.portfolio__qualifications{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 10px;
}
.btn{
    background: var(--btnBg);
    border: none;
    padding: 8px 12px;
    box-shadow: var(--boxShdw);
    transition: var(--trans);
}
.btn a{
    color: var(--btnText);
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    transition: var(--trans);
}
.btn:hover{
    cursor: pointer;
    box-shadow: none;
}
.portfolio__div {
    display: flex;
    justify-content: center;
}
.portfolio__container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%;
    background: var(--boxBg);
    box-shadow: var(--boxShdw);
    margin:2rem;
}
.portfolio__row {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.portfolio__col{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.mainInfo{
    /* background-color: blueviolet; */
    justify-content: center;
    align-items: center;
}
  
section.portfolio__colProjectItem{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.portfolio__col-pic{
    width: 100%;max-width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    outline: 2px solid var(--link);
    padding: 0.5rem;
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
}
.portfolio_col-links{
    margin-top: 1rem;
    border-top: 2px solid var(--link);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.portfolio_col-links a{
    margin: 5px 12px;
    font-size: 25px;
}
#icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 15px;
}
hr{
    margin-top:1rem;
    margin-bottom:1rem;

}
/* !media Query  */
@media only screen and (min-width:768px){
    .portfolio__row{
        flex-direction: row;
    }
    .portfolio__div{
        height: 100vh;
    }
    .portfolio__container{
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        margin: auto;
    }
    .portfolio__qualifications{
        display: flex;
        flex-wrap: unset;
        justify-content: normal;
        align-content: normal;
        align-items: normal;
        column-gap: normal;
        row-gap: normal;
    }
    
}