.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter__count {
  font-size: 8rem;
}
.counter__btns {
  display: flex;
  justify-content: space-between;
  gap: 7rem;
}
.counter__btn {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 11%);
  color: #fff;
  text-shadow: 0 0 2px #000;
  cursor: pointer;
}
span{
  font-size: 3rem;
}
.counter__btn--add{
  background-color: darkcyan;
}
.counter__btn--minus{
   background-color: darkred;
}